<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {{ head }}
    <title>{{ head_title }}</title>
    {{ styles }}
  </head>
  <body{{ attributes }}>
    <div id="skip-link">
      <a href="#main-content" class="visually-hidden focusable">
        {{ 'Skip to main content'|t }}
      </a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    {{ scripts }}
  </body>
</html>
