<article class="{{ attributes.class}} clearfix"{{ attributes }} role="article">
  <header>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ node_url }}">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="meta submitted">
        {{ user_picture }}
        {{ submitted }}
      </div>
    {% endif %}
  </header>
  <div class="content clearfix"{{ content_attributes }}>
    {{ content }}
  </div>
  {% if content.links %}
    <footer class="link-wrapper">
      {{ content.links }}
    </footer>
  {% endif %}
  {{ content.comments }}
</article>
